<nav class="navUser">

    <ul class="navUser-section navUser-section--alt">
        {{#if customer.store_credit.value '>' 0}}
            <li class="navUser-item">
                <a class="navUser-action navUser-action--storeCredit"
                   data-dropdown="storeCredit-dropdown"
                   data-options="align:bottom"
                   href="{{urls.cart}}"
                   aria-label="{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}"
                >
                    <span class="navUser-action-divider">
                        {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                    </span>
                </a>
                <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                </div>
            </li>
        {{/if}}

        <li class="navUser-item">
            <a class="navUser-action navUser-item--compare"
               href="{{urls.compare}}"
               data-compare-nav
               aria-label="{{lang 'common.compare'}}"
            >
            <svg role="img" aria-labelledby="usericontitle  usericondesc" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.08 15.31">
              <title id="usericontitle">User Icon image</title>
              <desc id="usericondesc">Filled in black circle with a filled in black body shape underneath</desc>
              <path d="M6.5,10.28a.36.36,0,0,0-.26.11.36.36,0,0,0-.12.27v2.55H1v-11H8.54V3.61a.88.88,0,0,1,.53-.17h.55V1.73a.35.35,0,0,0-.35-.34H.34A.34.34,0,0,0,0,1.73v12a.35.35,0,0,0,.34.35H7A.32.32,0,0,0,7.26,14l.85-.95V10.28Z" transform="translate(0 -1.39)"/><path class="cls-1" d="M5.48,9.18,7.69,7.36a.22.22,0,0,0,0-.31c-.22-.22-2.28-1.77-2.28-1.77s-.28-.28-.28.09v1H2s-.13,0-.13.17V7.93c0,.24.16.2.16.2H5.22v1C5.22,9.46,5.48,9.18,5.48,9.18Z" transform="translate(0 -1.39)"/>
              <path d="M17.74,4H8.8a.34.34,0,0,0-.34.34V16.35a.34.34,0,0,0,.34.34h6.67a.33.33,0,0,0,.25-.11L18,14a.35.35,0,0,0,.09-.23V4.3A.34.34,0,0,0,17.74,4ZM17,12.86H15a.37.37,0,0,0-.27.11.39.39,0,0,0-.11.27v2.55H9.49v-11H17v8Z" transform="translate(0 -1.39)"/><path class="cls-1" d="M12.65,12.29s.28.27.28-.09v-.95H16.1s.13,0,.13-.17V9.63c0-.23-.15-.19-.15-.19H12.86v-1c0-.3-.26,0-.26,0l-2.21,1.83a.21.21,0,0,0,0,.31C10.59,10.73,12.65,12.29,12.65,12.29Z" transform="translate(0 -1.39)"/>
            </svg>
             <span class="headerTitle">{{lang 'common.compare'}}</span>
             <span class="countPill countPill--positive countPill--alt"></span>
            </a>
        </li>


        <li class="navUser-item">

          <a class="navUser-action navUser-action--quickSearch"
             href="#" data-search="quickSearch"
             aria-controls="quickSearch"
             aria-expanded="false"
             aria-label="{{lang 'common.search'}}"
          >
          <svg role="img" aria-labelledby="quicksearchicontitle  quicksearchicondesc" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 413.1 413.1" enable-background="new 0 0 413.1 413.1" xml:space="preserve">
            <title id="quicksearchicontitle">Magnifying glass image</title>
            <desc id="quicksearchicondesc">Large red circle with a black border</desc>
            <path d="M289.5,49.6c-66.1-66.2-173.8-66.2-239.9,0c-66.1,66.1-66.1,173.8,0,239.9c63.9,63.9,166.4,66.1,233,6.6l13.5,13.5
                      c-3.4,8.6-1.6,18.7,5.3,25.6l71,71c9.3,9.3,24.5,9.3,33.8,0c9.3-9.3,9.3-24.5,0-33.8l-71-71c-6.9-6.9-17-8.7-25.6-5.3l-13.5-13.5
                      C355.6,216,353.4,113.5,289.5,49.6z M69.9,269.3c-55-55-55-144.4,0-199.4c55-55,144.4-55,199.4,0s55,144.4,0,199.4
                      S124.9,324.2,69.9,269.3z"></path>
            <path d="M103.4,102.1c24-24,51.9-41.4,81.3-52.3c-33.2-1.9-68.8,11-96.2,38.4c-27.7,27.7-40.6,63.9-38.2,97.6 C61,155.6,78.7,126.8,103.4,102.1z"></path>
          </svg>
          <span class="headerTitle">{{lang 'common.search'}}</span>
          </a>
        </li>


        {{#if settings.gift_certificates_enabled}}
            <li class="navUser-item">
              <a class="navUser-action gift-cert"
                 href="{{urls.gift_certificate.purchase}}"
                 aria-label="{{lang 'common.gift_cert'}}"
              >
              <svg role="img" aria-labelledby="giftcerttitle  giftcertdesc" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 325.32">
                <title id="giftcerttitle">Gift card image</title>
                <desc id="giftcertdesc">Large square black image with a bow ontop</desc>
                <path d="M118.93,226.9a17,17,0,0,0-24,24.16c3.3,3.23,17.13,6.89,33,9.15-2.82-19-6.62-30.63-8.95-33.31Z" transform="translate(0 -93.34)"/>
                <path d="M183,222a16.89,16.89,0,0,0-12,5c-2.29,2.62-6.07,14.22-8.9,33.24,15.85-2.26,29.69-5.92,33-9.15A17,17,0,0,0,183,222Z" transform="translate(0 -93.34)"/>
                <path d="M59.91,239a47,47,0,0,1,70-41V93.34H0V262H65.92A46.68,46.68,0,0,1,59.91,239Z" transform="translate(0 -93.34)"/>
                <path d="M100.49,342.7,79.28,321.48,108.74,292H0V418.66H130V313.23Z" transform="translate(0 -93.34)"/>
                <path d="M210.63,321.48,189.42,342.7,160,313.23V418.66H512V292H181.17Z" transform="translate(0 -93.34)"/>
                <path d="M160,93.34V198a47,47,0,0,1,64,64H512V93.34ZM453,212.78v9.48H441.14v-9.69a33,33,0,0,1-17.63-9.27l8.6-8.14c3.49,3.69,9.64,6.17,15.3,6.17,6,0,13-1.88,13-7.15v-.05c.05-6.28-4.14-8.18-14.44-11.29-4.81-1.46-9.79-3-13.87-5.77a17.79,17.79,0,0,1-8.1-15.45c0-9.38,6.63-16.27,17.16-18.58V133.1H453v9.29a36.8,36.8,0,0,1,15.74,5.19l-6.42,9.95a26,26,0,0,0-13-3.5c-6.23,0-13.5,2-13.5,7.59,0,5,3.05,6.7,13.55,9.88,5,1.52,10.26,3.1,14.55,6.14,5.56,3.94,8.35,9.51,8.3,16.57C472.22,204.06,464.69,211.1,453,212.78Z" transform="translate(0 -93.34)"/>
              </svg>
                  <span class="headerTitle hidden">Gift</span>
                  <!-- <span class="headerTitle">{{lang 'common.gift_cert'}}</span> -->
              </a>
            </li>
        {{/if}}


        <li class="navUser-item navUser-item--account">
            {{#if customer}}
                <a class="navUser-action"
                   href="{{urls.account.index}}"
                   aria-label="{{lang 'common.account'}}"
                >
                  {{> components/gordonbyte/common/account-icon }}
                  <span class="headerTitle">{{lang 'common.account'}}</span>
                </a>
                <a class="navUser-action hide_signup"
                   href="{{urls.auth.logout}}"
                   aria-label="{{lang 'common.logout'}}"
                >
                    {{lang 'common.logout'}}
                </a>
            {{else}}
                <a class="navUser-action"
                   href="{{urls.auth.login}}"
                   aria-label="{{lang 'common.login'}}"
                >
                    {{> components/gordonbyte/common/account-icon }}
                    <span class="headerTitle">{{lang 'common.login'}}</span>
                </a>
                {{#if settings.account_creation_enabled}}
                    <span class="navUser-or hidden">{{lang 'common.or'}}</span>
                    <a class="navUser-action hide_signup"
                       href="{{urls.auth.create_account}}"
                       aria-label="{{lang 'common.sign_up'}}"
                    >
                        {{lang 'common.sign_up'}}
                    </a>
                {{/if}}
            {{/if}}
        </li>

        <li class="navUser-item navUser-item--cart">
            <a class="navUser-action"
               data-cart-preview
               data-dropdown="cart-preview-dropdown"
               data-options="align:right"
               href="{{urls.cart}}"
               aria-label="{{lang 'cart.nav_aria_label'}}"
            >
                {{> components/gordonbyte/common/cart-icon }}
                <span class="headerTitle navUser-item-cartLabel">{{lang 'common.cart'}}</span>
                <span class="countPill cart-quantity"></span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>

        <li class="navUser-item navUser-item--currency">
          {{> components/gordonbyte/common/currency-selector }}
        </li>
    </ul>

    <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" data-prevent-quick-search-close>
        <div class="closeSearch">
          <button class="closeSearch-btn"><span>Close</span></button>
        </div>
        {{> components/gordonbyte/common/quick-search name='nav-quick-search' place='desktop'}}
    </div>
</nav>
