$featured-info-description-background-color:       rgba(stencilColor("gb-featured-info-description-background-color"), 1);
$featured-info-description-background-color_light: rgba(stencilColor("gb-featured-info-description-background-color"), 0.15);
$featured-info-title-color:                        stencilColor("gb-featured-info-title-color");
