
$carousel-bg:                         rgba(stencilColor("carousel-bgColor"), 0.60);
$carousel-border-radius:              stencilNumber("gb-carousel-border-radius");

$gb-heroCarousel-bgColor: rgba($carousel-bgColor, 0.15);
