$gb-category-product-section-text:       		stencilColor("gb-category-product-section-text");
$gb-category-product-section-text-hover:       	stencilColor("gb-category-product-section-text-hover");
$gb-category-product-section-bg:       			stencilColor("gb-category-product-section-bg");
$gb-category-product-section-bg-hover:       	stencilColor("gb-category-product-section-bg-hover");
