$home-guarantees-primary-text-color:               stencilColor("gb-home-guarantees-primary-text-color");
$home-guarantees-primary-background-color:         stencilColor("gb-home-guarantees-primary-background-color");
$home-guarantees-secondary-text-color:             stencilColor("gb-home-guarantees-secondary-text-color");
